.wrapper {
    width: 1110px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.site-logo {
      font-size: 22px;
      text-transform: uppercase;
      vertical-align: middle;
      float: left;
      text-decoration: none;
      color: black;
}
.site-logo::first-letter {
      color: #1abc9c;
      font-weight: bold;
}
.list_item {
      float: left;
      list-style: none;
}
.list_item {
    margin-right: 26px;
}
.last_list_item {
    margin: 0;
}
.link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #0f0101;
      font-weight: bold;
      font-family: Open-sans;
      display: block;
}
.nav_list {
      padding: 0px;
      margin: 0px;
      float: right;
}
.navigation_menu {
      padding-top: 38px;
      padding-bottom: 110px;
}
/*nav menu end*/
.tittle_one {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 34px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.tittle_one::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: auto;
    margin-top: 30px;
}
/*h2 first end*/
.inform {
    padding: 0;
    margin: 0;
}
.item_name {
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    float: right;
    text-transform: uppercase;
    font-size: 18px;
    font-family: roboto;
    text-align: left;
    box-sizing: border-box;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: 700;
    float: left;
}
.item_price {
    background-color: #8c8c8c;
    width: 55px;
    float: left;
    height: 40px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    font-family: roboto;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: 700;
    opacity: 0.7;
    color: #fff;
}
.good:hover .item_name, .good:hover .item_price{
    background-color: #1abc9c;
    }
img {
    display: block;
}
.good {
    float: left;
    margin-right: 30px;
}
.good:nth-of-type(-n+4) {
    margin-bottom: 30px;
}
.good:nth-of-type(n+5) {
    margin-bottom: 105px;
}
.last_good {
    margin-right: 0px;
}
.father_float_block_1 {
    margin-top: 92px;
}
h3 {
    font-family: open sans;
    color: #555252;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin: 0px 0px 29px 0px;

}
.information_img {
    margin-bottom: 16px;
}
h3::after {
    content: '';
    display: block;
    height: 3px;
    width: 136px;
    background-color: #1abc9c;
    margin-top: 12px;
}
.information_item {
    width: 350px;
    float: left;
    margin-right: 30px; 
}
.last_information_item {
    margin-right: 0px;
}
.text_inform {
    font-size: 14px;
    font-family: open sans;
    text-align: left;
    line-height: 18px;
    margin: 0px 0px 16px 0px;
}
.link_read_more {
    height: 50px;
    width: 160px;
    border-radius: 5px;
    background-color: #323232;
    text-transform: uppercase;
    color: #fff;
    font-family: roboto;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 18px;
}
.link_read_more:hover {
    background-color: #1abc9c;
}
.information_block {
    margin-top: 80px;
    padding-bottom: 46px;
}
.link:hover {
    color: #1abc9c;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}