.wrapper {
    width: 1600px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .site-logo {
      font-size: 22px;
      text-transform: uppercase;
      vertical-align: middle;
      float: left;
  }
  .site-logo::first-letter {
      color: #1abc9c;
      font-weight: bold;
  }
  .list_item {
      display: inline-block;
      list-style: none;
      margin-left: 26px;
  }
  .link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #0f0101;
      font-weight: bold;
  }
  .nav_list {
      padding: 0px;
      margin: 0px;
      float: right;
  }
  .navigation_menu {
      padding-top: 38px;
      margin-left: 30px;
      padding-bottom: 32px;
  }
  /*nav menu end*/
  .slider {
      position: relative;
  }
  .slider_right {
      display: inline-block;
      position: absolute;
      top: 226px;
      left: 245px;
      margin: 0px;
      padding: 0px;
  }
  .slider_left {
    display: inline-block;
    position: absolute;
}
  .slider_image {
      display: block;
      width: 100%;
  }
  .symbol {
      font-size: 38px;
      color: #fff;
      background-color: #1abc9c;
      opacity: 0.7;
      cursor: pointer;
      width: 104px;
      height: 104px;
      margin: 0px;
      padding: 0px;
  }
  .slider_left {
    display: inline-block;
    position: absolute;
    top: 226px;
    right: 245px;
    margin: 0px;
    padding: 0px;
  }
  .title {
      margin: 0 auto;
      text-align: center;
      font-size: 48px;
      text-transform: uppercase;
      color: #515151;
      font-family: roboto;
      margin-top: 100px;

  }
  .title::after {
      content: "";
      display: block;
      width: 164px;
      height: 7px;
      background-color: #1abc9c;
      margin: auto;
      margin-top: 32px;
  }
  .good {
      float: left;
      width: 255px;
      height: 322px;
      margin-bottom: 98px;
      margin-top: 82px;
  }
  .inform {
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 800;
  }
  .inform_about_good {
      width: 255px;
      height: 40px;
      background-color: #8c8c8c;
  }
  .item_name {
      width: 201px;
      height: 40px;
      box-sizing: border-box;
      padding: 13px 0px 0px 7px;
      background-color: #323232;
      color: #fff;
      z-index: 3;
  }
  .item_price {
      font-size: 18px;
  }
  .inform_about_good:hover {
      background-color: #1abc9c;
  }
  .good {
      margin-right: 30px;
      position: relative;
  }
  .first_good {
      margin-left: 245px;
  }
  .last_good {
      margin-right: 245px;
  }
  .footer {
      height: 88px;
      width: 100%;
      background-color: #323232;
      text-align: center;
      padding-top: 38px;
  }
  .footer_text {
      color: #fff;
      font-size: 16px;
  }
  .blue_text {
      color: #46bfa9;
      font-size: 16px;
  }
  .item_image {
      display: block;
  }
  .link:hover {
      color: #1abc9c;
  }
  main {
      background-color: #e9f0fd;
  }
  /*менюшка при наведении*/
  .submenu {
      width: 255px;
      height: 282px;
      background-color: #000;
      opacity: 0.5;
      position: absolute;
      bottom: 40px;
      left: 0px;
      border: 10px solid rgba(255, 255, 255, 0.7);
      box-sizing: border-box;
  }
  .like {
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0);
      color: #fff;
      cursor: pointer;
      position: absolute;
      top: 90px;
      left: 45px;
  }
  .svg_image {
      fill: #fff;
  }
  .shuffle {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 104px;
  } 
  .clock {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 163px;
  }
  .pointer:hover {
      background-color: #1abc9c;
      transition: 0.3s;
      opacity: 1;
  }
  .bye {
    border: 1px solid #fff;
    background-color:rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    width: 168px;
    height: 50px;
    position: absolute;
    top: 147px;
    left: 45px;
  }
  .text_for_bye {
      text-transform: uppercase;
      display: inline-block;
      vertical-align: super;
  }
  .pointer {
      width: 50px;
      height: 50px;
  }
  .bye:hover {
      background-color: #323232;
      transition: 0.3s;
  }
  .hover_submenu {
      display: none;
  }
  .good:hover > .hover_submenu {
   display: block;
   transition: 1s;
  }
  /*конец менюшки при наведении*/
  