.wrapper {
    width: 1110px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
  .site-logo {
      font-size: 22px;
      text-transform: uppercase;
      vertical-align: middle;
      float: left;
      text-decoration: none;
      color: #000;
  }
  .site-logo::first-letter {
      color: #1abc9c;
      font-weight: bold;
  }
  .list_item {
      display: inline-block;
      list-style: none;
      margin-right: 26px;
  }
  .list_item:last-of-type {
      margin-right: 0px;
  }
  .link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #0f0101;
      font-weight: bold;
      display: block;
  }
  .nav_list {
      padding: 0px;
      margin: 0px;
      float: right;
  }
  .navigation_menu {
      padding-top: 38px;
      padding-bottom: 32px;
  }
  /*nav menu end*/
  .slider {
      position: relative;
  }
  .slider_right {
      display: inline-block;
      position: absolute;
      left: 210px;
      margin: 0px;
      padding: 0px;
      transform: translateY(-50%);
      top: 50%;
      z-index: 2;
  }
  .slider_image {
      display: block;
      max-width: 100%;
  }
  .symbol {
      font-size: 38px;
      color: #fff;
      background-color: #1abc9c;
      opacity: 0.7;
      cursor: pointer;
      width: 104px;
      height: 104px;
      margin: 0px;
      padding: 0px;
      border: none;
  }
  .slider_left {
    display: inline-block;
    position: absolute;
    right: 210px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 2;
  }
  .slider_title {
      font-size: 60px;
      font-family: roboto;
      font-weight: 700;
      text-transform: uppercase;
      display: inline;
      position: absolute;
      color: #fff;
      top: 140px;
      left: 400px;
  }
  .slider_text{
       font-family: roboto;
       font-size: 24px;
       font-weight: 400;
       color: #fff;
       display: inline;
       position: absolute;
       top: 260px;
       left: 400px;
       text-transform: uppercase;
       font-weight: 200;
  }
  .bgc-color {
      padding-top: 100px;
  }
  .title {
      margin: 0 auto;
      text-align: center;
      font-size: 48px;
      text-transform: uppercase;
      color: #515151;
      font-family: roboto;
      background-color: #e9f0fd;

  }
  .title::after {
      content: "";
      display: block;
      width: 164px;
      height: 7px;
      background-color: #1abc9c;
      margin: auto;
      margin-top: 32px;
  }
  .good {
      float: left;
      width: 255px;
      height: 322px;
      margin-bottom: 98px;
      margin-top: 82px;
  }
  .inform {
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 800;
  }
  .inform_about_good {
      width: 255px;
      height: 40px;
      background-color: #8c8c8c;
  }
  .item_name {
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-family: roboto;
    text-align: left;
    box-sizing: border-box;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: 700;
    float: left;
    margin: 0px;
}
.item_price {
    background-color: #8c8c8c;
    width: 54px;
    float: left;
    height: 40px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    font-family: roboto;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: 700;
    opacity: 0.7;
    color: #fff;
    margin: 0px;
}
  }
  .inform_about_good:hover {
      background-color: #1abc9c;
  }
  .good {
    margin-right: 30px;
    position: relative;
  }
  .last_good {
      margin-right: 0px;
  }
  .footer {
      height: 88px;
      width: 100%;
      background-color: #323232;
      text-align: center;
      padding-top: 38px;
  }
  .footer_text {
      color: #fff;
      font-size: 16px;
  }
  .blue_text {
      color: #46bfa9;
      font-size: 16px;
  }
  .item_image {
      display: block;
  }
  .link:hover {
      color: #1abc9c;
  }
  .bgc-color {
      background-color: #e9f0fd;
  }
  /*менюшка при наведении*/
  .submenu {
      width: 255px;
      height: 282px;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 40px;
      left: 0px;
      border: 10px solid rgba(255, 255, 255, 0.7);
      box-sizing: border-box;
      display: none;
  }
  .like {
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0);
      color: #fff;
      cursor: pointer;
      position: absolute;
      top: 90px;
      left: 55px;
      transform: translateX(-50%);
  }
  .svg_image {
      fill: #fff;
  }
  .shuffle {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 114px;
    transform: translateX(-50%);
  } 
  .clock {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 173px;
    transform: translateX(-50%);
  }
  .pointer:hover {
      background-color: #1abc9c;
      transition: 0.3s;
      opacity: 1;
  }
  .bye {
    border: 1px solid #fff;
    background-color:rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    width: 168px;
    height: 50px;
    position: absolute;
    top: 147px;
    left: 30px;
  }
  .text_for_bye {
      text-transform: uppercase;
      display: inline-block;
      vertical-align: super;
  }
  .pointer {
      width: 50px;
      height: 50px;
  }
  .bye:hover {
      background-color: #323232;
      transition: 0.3s;
  }
  .hover_submenu {
      display: none;
  }
  .good:hover > .hover_submenu {
   display: block;
   transition: 1s;
  }
  /*не срабатывает ховер*/
  .hover_submenu:hover.price_inform {
    background-image: green;
  }
  /*не срабатывает ховер*/
  /*конец менюшки при наведении*/
  