.wrapper {
    width: 940px;
    margin: auto;
}

.header {
    margin-bottom: 127px;
}

.flex_box {
    display: flex;
    justify-content: space-between;
}

.site_logo {
    font-size: 30px;
    font-weight: 400;
    font-family:'Kaushan Script', verdana, sans-serif;
    color: #fed136;
    font-style: normal;
}

.link {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', verdana, sans-serif;
    color: #222222;
    text-transform: uppercase;
    display: block;
}

.link:hover {
    color: #fed136;
}

.nav_list_item:not(:last-of-type) {
    margin-right: 58px;
}

.nav_links {
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

/*nav menu end*/
.information_list_item {
    width: 290px;
    box-sizing: border-box;
}

.first_list_item::before {
    display: inline-block;
    content: '';
    background-image: url(../images/Icon-Basket.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    margin-left: 105px;
    margin-bottom: 26px;
}

.second_list_item::before {
    display: inline-block;
    content: '';
    background-image: url(../images/Group1.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    margin-left: 105px;
    margin-bottom: 26px;
}

.third_list_item::before {
    display: inline-block;
    content: '';
    background-image: url(../images/Icon-Locked.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    margin-left: 105px;
    margin-bottom: 26px;
}

.tittle_first_section {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.tittletoo_first_section {
    font-size: 16px;
    font-family: 'DM Serif Display', verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #777777;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.tittle_inform {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 22px;
}

.text_inform {
    font-family: 'Roboto Slab', verdana, sans-serif;
    font-size: 14px;
    color: #b5b5b5;
    text-align: center;
    margin: 0;
    padding: 0;
}


.information_block {
    display: flex;
    justify-content: space-around;
}

.inform_section {
    margin-bottom: 123px;
}
/*end first section*/
.bgi {
    background-image: url(../images/bcg.jpg);
}

.section_form {
    padding-bottom: 90px;
}
.tittle_form_block {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', verdana, sans-serif;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 25px;
}
.tittletoo_form_block {
    font-size: 16px;
    font-family: 'DM Serif Display', verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #777777;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 77px;
}
.input_row {
    width: 455px;
    height: 50px;
    border-radius: 5px;
    font-size: 40px;
}
.input_row:not(:last-of-type) {
    margin-bottom: 27px;
}
.input_row::placeholder {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-weight: bold;
}
.input_textarea {
    width: 445px;
    height: 210px;
    border-radius: 5px;
    font-size: 14px;
    align-self: flex-end;
}
.input_textarea::placeholder {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-weight: bold;
}
.fields_to_fill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
}
.small_block {
    margin: 0px 30px 27px 0px;

}
.submit {
    width: 240px;
    height: 65px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fed136;
    color: #fff;
    font-family: 'Montserrat', verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    margin: 0 auto;
    display: block;
}
input:valid:focus {
    border-color: greenyellow;
    outline: none;
}
input:invalid:focus {
    border-color: red;
    outline: none;
}
textarea:valid:focus {
    border-color: greenyellow;
    outline: none;
}
textarea:invalid:focus {
    border-color: red;
    outline: none;
}